---
import Layout from "../components/Layout.astro";
---

<Layout title="Martin Styve">
  <div class="container">
    <h1>Martin Styve Pedersen</h1>
    <!-- <i>
      A real man never comments on his girl and never comments on his code
		</i> -->
    <i>Student at University of Bergen</i>
    <i>Student tutor at University of Bergen
    </i>
    <i>Member of friByte</i>
		<img src="/martinRandonee.jpg" alt="Martin on ski"/>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #1c1d23;
    border-radius: 8px;
    margin-top: 2rem;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #f1f1f1;
  }
  img {
  width: 80%;
  max-width: 480px;
  border-radius: 8px;
  margin-top: 2rem;
}

@media (max-width: 320px) {
  img {
    max-width: 100%;
    margin-top: 1rem;
  }
}
</style>