---
import Layout from "../components/Layout.astro";
---

<Layout title="Projects">
  <div class="container">
    <div class="project">
      <p>Objektorientert programmering (INF101) - 2048 (April 2024):</p>
      <a href="https://youtu.be/OZbWxmrUGqw" target="_blank">Youtube</a>
      <a href="https://github.com/martinstyve/2048game" target="_blank">Github</a>
    </div>

    <div class="project">
      <p>Objektorientert programmering (INF101) - Tetris (March 2024):</p>
      <a href="https://youtu.be/PQyhAXw5mpw" target="_blank">Youtube</a>
    </div>

    <div class="project">
      <p>Innføring programmering (INF100) - Snake (October 2023):</p>
      <a href="https://youtu.be/4XtJXwVUjOk" target="_blank">Youtube</a>
    </div>
  </div>
</Layout>

<style>
  .container {
    margin: 2rem auto;
    text-align: center;
    max-width: 800px;
  }
  h2 {
    color: #f1f1f1;
  }
  a {
    color: #5DD5FF;
    text-decoration: none;
    padding: 0.5rem;
  }
  a:visited {
    color: #9AC8E2;
  }
  a:hover {
    color: #96F7FF;
  }
  .project {
    margin-bottom: 2rem;
  }
</style>